<div>
<%= form_tag(root_path, :method => "get", id: "search-form") do %>
  <%= text_field_tag :search, params[:search], placeholder: "GOPRO" %>
<% end %>
</div>
<div id= "list_wrapper">
	<ul>
		<% @posts.each do |post| %>
		<li>
			<a href="<%= post.image_url %>" data-lightbox="image-1" data-title="My caption"> <%= image_tag post.thumbnail_url %> </a>
		</li>
		<% end %>
	</ul>
</div>
